services:
  api:
    build: .
    ports: 
      - '8000:8000'
    depends_on:
      - redis
    env_file:
      - .env
    volumes:
      - .:/app

  redis:
      image: redis:7-alpine
      tty: true